
body{
font-family:"Avenir Next";
background-color: #f6efe4;
margin :0px;
}

header {
background: url(back.jpg) center ; 
color: white;
height: 242px;
width: 100%;
position: fixed;
top: 0;
z-index:10;
}

header:before {
content: '';
background: inherit;
 filter: blur(1.86px);
  position: absolute;
  top: -8px;
  left: -8px;
  right: -8px;
  bottom: -8px;
  z-index: -1;

}
.header-list {
list-style: none;
float: right;
padding:0px 20px 
}

header ul li {
padding-top: 1px;
padding-bottom: 1px;
letter-spacing: 2px;


}
.header-logo {
text-align: center;
font-size: 54px;
font-weight: bold;
opacity: 0.94;
padding: 40px 40px 0px 40px;
border-bottom: 4px solid white;
}

.main{ 
padding-top: 300px;
height: 1000px;
color: dimgray
}

.bigtitle {
font-size: 30px;
text-align: center;
color:dimgray
f
}

li{
list-style: none;
text-align: center;
 padding:20px
}


