
body{
font-family:"Avenir Next";
background-color: #FDF5E6;
margin: 0px;
}

li {
list-style: none;
float: right;
 padding:33px 20px
}

header {
background-color:tan;
color: white;
height: 100px;
width: 100%;
position: fixed;
top: 0;
z-index:10;
}

.header-logo {
float: left;
font-size: 43px;
padding: 20px 50px;
}

.main{ 
padding-top: 150px;
height: 3000px;
color: dimgray
}

h1{
text-align:center;
font-size: 37px;
font-weight: normal;
}

.coments {
padding: 30px ;
}

.section-title{
border-bottom: 3px solid tan;
font-size: 22px;
letter-spacing: 5px;
margin-top: 30px;
padding: 160px 0px 5px 25px;
margin-bottom: 80px;
clear: both;
}

.contents-item {
float: left;
text-align: center;
width: 50%;
margin-top: 50px;

}

.contents-item img{
display: inline-block;
vertical-align: middle;

}

.contents-item p {
font-size: 20px;
text-align: center;
margin-top: 5px;
font-weight: normal;
}

.img-explain {
float: left;
display: inline-block;
vertical-align: middle;
font-size: 15px;
font-weight:normal;
padding-top: 100px;
}

table{
font-size: 15px;
text-align:center; 
font-weight: normal;
border: solid 1.8px tan;
 border-collapse:collapse; 
margin: auto;
width: 50%;
}

th{
background: #f5deb3; height:35px;
border-bottom: solid 1.8px tan;
font-weight: normal;
}

td{
background:#fff8dc; height:32px; 
border-bottom: dashed 1.8px tan;

}
.button-wrapper{
text-align : center;
}

.btn1{
font-size: 14px;
margin-bottom: 100px;
width:180px;
height:40px;
border-radius: 25px;
color:dimgray;
background-color: tan;
}

